@import './reset.css';

#App {
  width: 100vw;
  height: 100vh;
}

section {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header h1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

header #back_btn {
  display: inline-block;
  width: 20px;
  height: 34px;
  background: url(/img/common_back.svg) no-repeat;
  background-size: contain;
}

#board_page .btn_wrap {
  width: 100%;
  padding: 20px 16px 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#board_page .btn_wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99ccff;
  border-radius: 12px;
  padding: 20px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#board_page .btn_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/img/writing.png) no-repeat;
  background-size: contain;
  margin-right: 10px;
}

#board_page .btn_title {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
}

#board_page .post_list {
  height: calc(100vh - 83px - 92px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 20px 16px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#board_page .post_list::-webkit-scrollbar {
  display: none;
}

#board_page .post_item {
  width: 100%;
  height: 140px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board_page .post_item > * {
  color: #292929;
  pointer-events: none;
}

#board_page .post_item .post_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

#board_page .post_item_inner {
  width: calc(100% - 100px - 20px);
}

#board_page .post_item .title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

#board_page .post_item .content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#upload_page .upload_inner {
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: calc(100vh - 83px - 98px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#upload_page .upload_inner::-webkit-scrollbar {
  display: none;
}

#upload_page .btn_wrap {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
}

#upload_page #upload_btn {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  background: #cdc7c7;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  border-radius: 12px;
}

#upload_page #upload_btn.active {
  background: #99ccff;
}

#upload_page .input_wrap {
  margin-top: 28px;
}

#upload_page .input_label {
  display: block;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #4a4949;
  margin-bottom: 16px;
}

#upload_page #post_title {
  width: 100%;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #e8e8e8;
  border-width: 0 0 2px 0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #3d3b3b;
}

#upload_page #post_title:focus {
  outline: none;
  border: 2px solid #99ccff;
  border-width: 0 0 2px 0;
}

#upload_page #post_content {
  width: 100%;
  height: 250px;
  border: 2px solid #e8e8e8;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #3d3b3b;
}

#upload_page #post_content:focus {
  border-radius: 12px;
  outline-color: #99ccff;
}

#upload_page #img_upload_btn {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #99ccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload_page #img_upload_btn span {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(/img/add_file.svg) no-repeat;
  background-size: contain;
  pointer-events: none;
}

#post_detail_page .post_detail_inner {
  height: calc(100% - 83px - 80px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#post_detail_page .post_detail_inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#post_detail_page .post_article {
  color: #3d3b3b;
}

#post_detail_page .post_article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#post_detail_page .post_article_inner {
  margin: 20px 18px 0 18px;
  border-bottom: 4px solid #99ccff;
}

#post_detail_page .post_article .title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0em;
  margin-bottom: 12px;
}

#post_detail_page .post_article .date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

#post_detail_page .post_article .content_wrap {
  margin-top: 12px;
  height: 200px;
  position: relative;
}

#post_detail_page .post_article .content {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0em;
  height: calc(100% - 30px - 20px);
}

#post_detail_page .article_btn_wrap {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#post_detail_page #post_edit {
  margin-right: 12px;
  background: url(/img/pf_edit_introd.svg) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

#post_detail_page #post_delete {
  background: url(/img/close.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

#post_detail_page .btn_wrap {
  padding: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#post_detail_page #comment_input {
  width: calc(100% - 30px - 10px);
  height: 48px;
  border-radius: 6px;
  background: #f0f0f0;
  border: none;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
}

#post_detail_page #leave_comment_btn {
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  margin-left: 10px;
}

#post_detail_page #leave_comment_btn.active {
  border: 2px solid #99ccff;
}

#post_detail_page #leave_comment_btn span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/img/mypage_matching_current.svg) no-repeat;
  background-size: contain;
  pointer-events: none;
}

#post_detail_page .post_comment_wrap {
  width: 100%;
  padding: 15px 18px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#post_detail_page .comment_list {
  width: 100%;
}

#post_detail_page .comment_item {
  width: 100%;
  padding: 9px 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#post_detail_page .comment_item .comment {
  width: calc(100% - 30px - 10px);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

#post_detail_page .comment_item .comment_delete_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background: url(/img/round_close_grey.svg) no-repeat;
  background-size: contain;
}
